ENV=prod
API_KEY=replace-me
PORT=8002

# Use one of the following database setups.

# Local SQLite
# WNBA_DB_PATH=/root/app-src/data/prod.sqlite

# Turso
# USE_TURSO=true
# TURSO_DATABASE_URL=libsql://replace-me.turso.io
# TURSO_AUTH_TOKEN=replace-me
